* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: monospace;
}

@media (max-width: 768px) {
  body {
    zoom: 0.26; /* Ajusta el valor según lo que se vea bien */
  }
}
