* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: monospace;
}

/* Contenedor que centra */
.pantalla-wrapper {
    display: flex;
    justify-content: center; /* centra horizontalmente */
    width: 100%;
}

/* Pantalla principal */
.pantalla {
    width: 1440px; /* tamaño original */
}

/* Responsive móvil */
@media (max-width: 768px) {
    .pantalla {
        transform: scale(0.26);          /* escala proporcional */
        transform-origin: top center;    /* centra desde arriba */
    }
}
