* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: monospace;
}

/* Responsive para móviles */
@media (max-width: 768px) {
    .pantalla {
        width: 100%;       /* que ocupe todo el ancho del móvil */
        transform: scale(0.25);  /* escala proporcional */
        transform-origin: top center; /* se centra arriba */
    }
}
